*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}
body{
    color: #ededed;
    background: rgb(3, 32, 46);
}
.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 10%;
    background: #051129;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    z-index: 100;
}
.logo {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover{
    color: #0ef;
}
.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-color: rgb(3, 32, 46);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% ;
}
.home-content {
    max-width: 600px;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
}
.home-content p{
    font-size: 20px;
}
/*iMAGE STYLE*/
.pic img{
    height: 350px;
    width: 350px;
    background-position: center;
    border-radius:50%;
}

/*ICONS*/
.icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
}
.icon a:hover {
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 5px cyan,
    0 0 5px cyan, 0 0 5px cyan
}
.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}
.btn-box:hover {
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 5px cyan,
    0 0 5px cyan, 0 0 5px cyan
}

.se {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1.5rem;
    margin-left: 30rem;

}
/* -------------Home end--------------- */

/* ------------about------------ */
#about{
    padding: 80px 20px 20px;
    color:#fff;

}
.row{
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis:35%;
}
.about-col-1 img{
    width:350px;
    height: 350px;
    background-position: center;
    border-radius:15px;
   
    border-radius: 50%;
}
.about-col-2 h2{
    font-size: 60px;
}
.about-col-2 h2 span{
    color: #0ef;
}
.about-col-2 {
    flex-basis:60%;

}
.about-col-2 p{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 2rem;
    margin-right: 5rem;
}
.sub-title{
    font-size:  60px;
    font-weight: 600;
    color:#fff

}

.tab-titles{
    display: flex;
    margin:20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor:pointer;
    position:relative;
}

.tab-links::after{
    content:'';
    width: 0;
    height: 3px;
    background: #0ef;
    position: absolute;
    left :0;
    bottom: -8px;
    transition:0.5s;
}

.tab-links.active-link::after{
    width:50%;

}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;

}
.tab-contents ul li span{
    color:#0ef;
    font-size: 30px;
}

.tab-contents{
    display: none;

}
.tab-contents.active-tab{
    display:block;

}
/* ----------------About End---------------- */

/*-------------CONTACT--------------*/

.contact{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top:130px;
}

.contact-text h2{
    margin-top: 80px;
    font-size: 90px;
    line-height: 1;
    text-align: center;

}

.contact-text h2 span{
    color: #0ef;

}

.contact-text h4{
    margin:15px 0;
    color:white;
    font-size: 20px;
    font-weight: 600;

}
.contact-text p{
    color: rbg(177,177,177);
    font-size: 20px;
    line-height: 30px;
    margin-bottom:2rem;
}

.contact-list{
    margin-bottom:3rem;
}

.contact-list li{
    margin-bottom: 10px;
    display: block;
}

.contact-list{
    display:inline-block;
    color: white;
    font-size: 20px;
    font-weight: 600;
    transition: all .40x ease;
}
.contact-list li a{
    color:#fff;
}
.contact-list li a:hover{
    transform: scale(1.01) tanslateY(-5px);
    color: #0ef;

}
/*ICONS*/
.contact-icons i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 1px 15px 30px 0;
}
.contact-icons i:hover {
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 5px cyan,
    0 0 5px cyan, 0 0 5px cyan
}
.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}
.btn-box:hover {
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 5px cyan,
    0 0 5px cyan, 0 0 5px cyan
}

.contact-form form{
    position : relative;

}
.contact-form form input,form textarea{
    border:none;
    outline:none;
    width:90%;
    padding: 18px;
    background: #555557;
    color:#000;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom:0.5rem;
    border-radius:0.5rem;

}
.contact-form textarea{
    resize: none;
    height: 220px;
 }
.contact-form form .send{
    display: inline-block;
    padding: 14px 60px;
    background: #0ef;
    border-radius: 40px;
    font-size: 18px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
   
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    /* box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;    */
} 

.contact-form form .send:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 5px cyan,
    0 0 5px cyan, 0 0 5px cyan;
}

.last-text p{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: rgb(7,85 ,91);
    font-weight: 300;
    margin-top: 70px;

}
.top{
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;
    
}
.top i{
    color:#000;
    background:#0ef ;
    font-size: 20px;
    padding:10px;
    border-radius: 0.5rem;
}
#msg{
    color:white;
   
    display: block;
}